body {
    min-width: 180px;
}

h2 {
	font-size: 18px;
	text-align: center;
	color: #b38600;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

.info {
	text-align: justify;
}

.links {
	color: #b38600;
	text-align: center;
}

a {
	text-decoration: none;
}